@import "_reset.css";

@font-face {
    font-family: 'Space Grotesk';
    src: url('./../assets/fonts/SpaceGrotesk-VariableFont_wght.woff2') format('woff2-variations');
    font-style: normal;
    font-weight: 300 700;
    font-display: optional;
}

@font-face {
    font-family: "Space Grotesk-fallback";
    size-adjust: 136.69%;
    ascent-override: 84%;
    src: local("Arial");
}

html {
    font-size: 16px;
    font-family: "Space Grotesk", "Space Grotesk-fallback", sans-serif;
    position: relative;
    background-color: #5C2DD5;
    height: 100vh;
}

.app {
    width: 100%;
}

.page-container {
    background: #7945FF;
    height: 100vh;
    width: 100vw;
}

span[class^="marker_"] {
    opacity: 1;
}

span[class^="no-marker_"] {
    opacity: 0;
}

@media screen and (min-width: 1441px) {
    .page-container {
        height: 916px;
        width: 1446px;
        border: 3px solid black;
        box-shadow: 0 10px 0 black;
        border-radius: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}