@page "/player/edit/{playerId:int}"
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject IJSRuntime Js

<h3>Edit</h3>

<Form ButtonText="Update" Player="_player"
      OnValidSubmit="@EditPlayer"></Form>

@code {
    [Parameter] public int PlayerId { get; set; }
    Player _player = new Player();

    protected async override Task OnParametersSetAsync()
    {
        _player = await Http.GetFromJsonAsync<Player>($"api/player/{PlayerId}");
    }

    async Task EditPlayer()
    {
        await Http.PutAsJsonAsync("api/player", _player);
        await Js.InvokeVoidAsync("alert", $"Updated Successfully!");
        UriHelper.NavigateTo("player");

    }
}