/* /Components/BoardComponent.razor.rz.scp.css */
header[b-wntv24wik3] {
    width: 632px;
    margin-inline: auto;
    padding-block: 53px 17px;
}

nav[b-wntv24wik3] {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 632px;
}

.logo[b-wntv24wik3] { margin-inline: 201px 179px; }

button[b-wntv24wik3] {
    padding: 9px 20px 10px 21px;
    background: hsl(256, 66%, 50%);
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    line-height: calc(20.42 / 16);
    cursor: pointer;
}

button:hover[b-wntv24wik3] { background-color: hsl(346, 96%, 69%); }

.play-menu[b-wntv24wik3] {
    width: 632px;
    height: 36px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    padding-inline: 20px;
    gap: 24px;
    position: relative;
    cursor: pointer;
}

.marker1[b-wntv24wik3], .marker2[b-wntv24wik3] {
    display: block;
    height: 570px;
    width: 68px;
    opacity: 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 38px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0 5px 0 hsl(0, 0%, 0%));
    transform: translateY(-6px);
    z-index: 5;
}

.marker1:hover[b-wntv24wik3], .marker2:hover[b-wntv24wik3] {
    opacity: 1;
    cursor: pointer;
}

.marker1[b-wntv24wik3] { background-image: url("https://ajhughesdev.github.io/ConnectFourApp/assets/images/marker-red.svg"); }

.marker2[b-wntv24wik3] { background-image: url("https://ajhughesdev.github.io/ConnectFourApp/assets/images/marker-yellow.svg"); }

main[b-wntv24wik3] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 203px;
    position: relative;
    z-index: 1;
}

.board-container[b-wntv24wik3] {
    position: relative;
    width: 632px;
    height: 584px;
    margin-inline: auto;
}

.board-layer_black[b-wntv24wik3], .board-layer_white[b-wntv24wik3] {
    position: absolute;
    top: 0;
    left: 0;
}

.board[b-wntv24wik3] {
    width: 632px;
    height: 584px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding: 20px;
}

.board-cell[b-wntv24wik3] {
    width: 67px;
    height: 67px;
    overflow: hidden;
    background-color: transparent;
    position: relative;
}

.board-cell span[b-wntv24wik3] {
    width: 67px;
    height: 67px;
    position: absolute;
    display: block;
    left: 0;
}

.player1[b-wntv24wik3], .player2[b-wntv24wik3] {
    width: 70px;
    height: 75px;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    background-size: cover;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.player2[b-wntv24wik3] { background-image: url('https://ajhughesdev.github.io/ConnectFourApp/assets/images/counter-red-large.svg'); }

.player1[b-wntv24wik3] { background-image: url('https://ajhughesdev.github.io/ConnectFourApp/assets/images/counter-yellow-large.svg'); }

.column0[b-wntv24wik3], .a[b-wntv24wik3] { left: 17px; }

.column1[b-wntv24wik3], .b[b-wntv24wik3] { left: calc(4rem + 41px); }

.column2[b-wntv24wik3], .c[b-wntv24wik3] { left: calc(8rem + 65px); }

.column3[b-wntv24wik3], .d[b-wntv24wik3] { left: calc(12rem + 89px); }

.column4[b-wntv24wik3], .e[b-wntv24wik3] { left: calc(16rem + 113px); }

.column5[b-wntv24wik3], .f[b-wntv24wik3] { left: calc(20rem + 137px); }

.column6[b-wntv24wik3], .g[b-wntv24wik3] { left: calc(24rem + 161px); }

.drop1[b-wntv24wik3] {
    animation-duration: .5s;
    animation-name: drop1-b-wntv24wik3;
}

.drop2[b-wntv24wik3] {
    animation-duration: 1.25s;
    animation-name: drop2-b-wntv24wik3;
}

.drop3[b-wntv24wik3] {
    animation-duration: 1.6s;
    animation-name: drop3-b-wntv24wik3;
}

.drop4[b-wntv24wik3] {
    animation-duration: 1.7s;
    animation-name: drop4-b-wntv24wik3;
}

.drop5[b-wntv24wik3] {
    animation-duration: 1.8s;
    animation-name: drop5-b-wntv24wik3;
}

.drop6[b-wntv24wik3] {
    animation-duration: 1.9s;
    animation-name: drop6-b-wntv24wik3;
}

@keyframes drop1-b-wntv24wik3 {
    75%, 90%, 97%, 100% { transform: translateY(1.1rem); }

    80% { transform: translateY(0); }

    95% { transform: translateY(.5rem); }

    99% { transform: translateY(.75rem); }
}

@keyframes drop2-b-wntv24wik3 {
    75%, 90%, 97%, 100% { transform: translateY(6.6rem); }

    80% { transform: translateY(4.5rem); }

    95% { transform: translateY(5.5rem); }

    99% { transform: translateY(6rem); }
}

@keyframes drop3-b-wntv24wik3 {
    75%, 90%, 97%, 100% { transform: translateY(12.1rem); }

    80% { transform: translateY(9rem); }

    95% { transform: translateY(10.5rem); }

    99% { transform: translateY(11.33rem); }
}

@keyframes drop4-b-wntv24wik3 {
    75%, 90%, 97%, 100% { transform: translateY(17.6rem); }

    80% { transform: translateY(13.5rem); }

    95% { transform: translateY(15.5rem); }

    99% { transform: translateY(16.5rem); }
}

@keyframes drop5-b-wntv24wik3 {
    75%, 90%, 97%, 100% { transform: translateY(23.1rem); }

    80% { transform: translateY(19rem); }

    95% { transform: translateY(21rem); }

    99% { transform: translateY(22rem); }
}

@keyframes drop6-b-wntv24wik3 {
    75%, 90%, 97%, 100% { transform: translateY(28.6rem); }

    80% { transform: translateY(24.5rem); }

    95% { transform: translateY(26.5rem); }

    99% { transform: translateY(27.5rem); }
}

.winning-message[b-wntv24wik3] {
    position: absolute;
    right: 0;
    left: 0;
    background-color: hsl(0, 0%, 100%);
    border: 3px solid hsl(0, 0%, 0%);
    box-shadow: 0 10px 0 hsl(0, 0%, 0%);
    border-radius: 20px;
    width: 285px;
    height: 166px;
    margin-inline: auto;
    margin-top: -43px;
    padding: 17px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 3;
}

.winner[b-wntv24wik3] {
    font-size: 1rem;
    font-weight: 700;
    line-height: calc(20.42 / 16);
    margin-bottom: -4px;
}

.winning-message span:last-of-type[b-wntv24wik3] {
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: calc(71.46 / 56);
    padding: 0;
    margin: 0;
}

.reset-button[b-wntv24wik3] {
    width: 130px;
    margin-inline: auto;
}
/* /Components/MainMenuComponent.razor.rz.scp.css */
.main-menu[b-lw6z7hm3q7] {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 435px;
    margin: 0;
    transform: translate(-50%, -50%);
    background: hsl(256, 99%, 63%);
    border: 3px solid hsl(0, 0%, 0%);
    box-shadow: 0 10px 0 hsl(0, 0%, 0%);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.main-menu-logo[b-lw6z7hm3q7] {
    margin: auto;
    height: 61px;
    width: 58px;
    margin-block: 70px 79px;
}

.players[b-lw6z7hm3q7], .rules[b-lw6z7hm3q7] {
    width: 400px;
    height: 72px;
    margin-inline: auto;
    border: 3px solid hsl(0, 0%, 0%);
    box-shadow: 0 10px 0 hsl(0, 0%, 0%);
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: calc(30.62 / 24);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.players:hover[b-lw6z7hm3q7], .rules:hover[b-lw6z7hm3q7] {
    border: 3px solid hsl(256, 66%, 50%);
    box-shadow: 0 10px 0 hsl(256, 66%, 50%);
    cursor: pointer;
}

.players[b-lw6z7hm3q7] {
    background-color: hsl(40, 98%, 70%);
    margin-bottom: 30px;
}

.rules[b-lw6z7hm3q7] { background-color: hsl(0, 0%, 100%); }
/* /Components/ModalComponent.razor.rz.scp.css */
.imgame-menu-container[b-omfkclek9k] {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.ingame-menu[b-omfkclek9k] {
    box-sizing: content-box;
    background: hsl(256, 99%, 63%);
    border: 3px solid hsl(0, 0%, 0%);
    box-shadow: 0 10px 0 hsl(0, 0%, 0%);
    border-radius: 40px;
    width: 481px;
    height: 491px;
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -48%);
    z-index: 100;
}

h1[b-omfkclek9k] {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: calc(71.46 / 56);
    padding-block: 50px 44px;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
}

.buttons[b-omfkclek9k] {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

button[b-omfkclek9k], a[b-omfkclek9k] {
    width: 400px;
    height: 72px;
    border: 3px solid hsl(0, 0%, 0%);
    box-shadow: 0 10px 0 hsl(0, 0%, 0%);
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: calc(30.62 / 24);
    padding: 20px;
    color: hsl(0, 0%, 0%);
}

button[b-omfkclek9k] { background-color: hsl(0, 0%, 100%); }

a[b-omfkclek9k] { background-color: hsl(346, 96%, 69%); }

button:hover[b-omfkclek9k], a:hover[b-omfkclek9k] {
    border: 3px solid hsl(256, 66%, 50%);
    box-shadow: 0 10px 0 hsl(256, 66%, 50%);
    cursor: pointer;
}

span[b-omfkclek9k] { margin-inline: auto; }
/* /Components/PlayerScoreBoardComponent.razor.rz.scp.css */
.player-board[b-6450ydrzvj] {
    position: relative;
    height: 160px;
    width: 141px;
    background-color: hsl(0, 0%, 100%);
    border: 3px solid hsl(0, 0%, 0%);
    box-shadow: 0 10px 0 hsl(0, 0%, 0%);
    border-radius: 20px;
    transform: translateY(-18px);
}

.player-board-img[b-6450ydrzvj] {
    position: absolute;
    width: 54px;
    margin-inline: 42px;
    transform: translateY(-27px);
}

.player-board p:first-of-type[b-6450ydrzvj] {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: calc(25.52 / 20);
    text-align: center;
    margin-block: 46px 0;
}

.player-board p:last-of-type[b-6450ydrzvj] {
    font-size: 56px;
    line-height: calc(71.46 / 56);
    font-weight: 700;
    text-align: center;
}
/* /Components/YourTurnComponent.razor.rz.scp.css */
.your-turn[b-8luhvflcsy] {
    position: absolute;
    width: 197px;
    left: 0;
    right: 0;
    margin-inline: auto;
    margin-top: -43px;
    z-index: 2;
}

.your-turn_fill1[b-8luhvflcsy], .player1-fill[b-8luhvflcsy] { fill: #FD6687; }

.your-turn_fill2[b-8luhvflcsy], .player2-fill[b-8luhvflcsy] { fill: #FFCE67; }

.your-turn_gfill1[b-8luhvflcsy] { fill: #fff; }

.your-turn_gfill2[b-8luhvflcsy] { fill: #000; }

.winners-bar[b-8luhvflcsy] {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1441px) {
    .winners-bar[b-8luhvflcsy] {
        width: 1440px;
        border-radius: 0 0 57px 57px;
    }
}
/* /Pages/Rules.razor.rz.scp.css */
.rules-container[b-mpyo9hcvyz] {
    position: relative;
    background-color: hsl(256, 99%, 63%);
    height: 100vh;
    width: 100vw;
}

.rules-board[b-mpyo9hcvyz] {
    position: absolute;
    width: 480px;
    height: 537px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 40px;
    box-shadow: 0 10px 0 hsl(0, 0%, 0%);
    padding-inline: 34px 32px;
}

h1[b-mpyo9hcvyz] {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: calc(71.46 / 56);
    padding-block: 30px 29px;
    text-transform: uppercase;
}

h2[b-mpyo9hcvyz] {
    color: hsl(256, 99%, 63%);
    font-size: 20px;
    font-weight: 700;
    line-height: calc(25.52 / 20);
    text-transform: uppercase;
    padding-block: 0 16px;
}

p[b-mpyo9hcvyz] { padding-block: 0 29px; }

p[b-mpyo9hcvyz], li[b-mpyo9hcvyz] {
    font-size: 16px;
    font-weight: 500;
    line-height: calc(20.42 / 16);
    opacity: .66;
}

ol[b-mpyo9hcvyz] {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: decimal;
    list-style-position: inside;
    counter-reset: count;
}

ol li[b-mpyo9hcvyz] { counter-increment: count 1; }

ol li[b-mpyo9hcvyz]::marker {
    content: counter(count, decimal) '    ';
    opacity: 1;
    color: black;
    font-weight: 700;
    font-size: 16px;
}

span[b-mpyo9hcvyz] {
    position: relative;
    padding-left: 27px;
}

li:last-of-type[b-mpyo9hcvyz] { padding-right: 0; }

svg[b-mpyo9hcvyz] {
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 0;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%);
    filter: drop-shadow(0 5px 0 hsl(0, 0%, 0%));
    border-radius: 50%;
}

svg:hover .rules-fill[b-mpyo9hcvyz] { fill: hsl(256, 66%, 50%); }

svg:hover[b-mpyo9hcvyz] { filter: drop-shadow(0 5px 0 hsl(256, 66%, 50%)); }
