.play-menu {
    width: 632px;
    height: 36px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    padding-inline: 20px;
    gap: 24px;
    position: relative;
    cursor: pointer;
}

.board-container {
    position: relative;
    width: 632px;
    height: 584px;
    margin-inline: auto;
}

.board {
    width: 632px;
    height: 584px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-inline: 20px;
    padding-block: 20px 80px;
    border: 3px solid black;
    border-radius: 40px;
    box-shadow: 0 10px 0 black;
}

.board-cell {
    width: 61px;
    height: 61px;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: inset 0 10px 0 black;
}

.board-cell span {
    width: 61px;
    height: 61px;
    position: absolute;
    display: block;
    left: 0;
}

.player1,
.player2 {
    width: 70px;
    height: 75px;
    left: 0px;
    top: 0px;
    position: absolute;
    display: block;
    background-size: cover;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.player2 {
    background-image: url('./assets/images/counter-red-large.svg');
}

.player1 {
    background-image: url('./assets/images/counter-yellow-large.svg');
}

.col0 {
    left: calc(0rem + 17px);
}

.col1 {
    left: calc(4rem + 41px);
}

.col2 {
    left: calc(8rem + 65px);
}

.col3 {
    left: calc(12rem + 89px);
}

.col4 {
    left: calc(16rem + 113px);
}

.col5 {
    left: calc(20rem + 137px);
}

.col6 {
    left: calc(24rem + 161px);
}

.drop1 {
    animation-duration: .5s;
    animation-name: drop1;
}

.drop2 {
    animation-duration: 1.25s;
    animation-name: drop2;
}

.drop3 {
    animation-duration: 1.6s;
    animation-name: drop3;
}

.drop4 {
    animation-duration: 1.7s;
    animation-name: drop4;
}

.drop5 {
    animation-duration: 1.8s;
    animation-name: drop5;
}

.drop6 {
    animation-duration: 1.9s;
    animation-name: drop6;
}

@keyframes drop1 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(1rem);
    }

    80% {
        transform: translateY(0);
    }

    95% {
        transform: translateY(.5rem);
    }

    99% {
        transform: translateY(.75rem);
    }
}

@keyframes drop2 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(6.5rem);
    }

    80% {
        transform: translateY(4.5rem);
    }

    95% {
        transform: translateY(5.5rem);
    }

    99% {
        transform: translateY(6rem);
    }
}

@keyframes drop3 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(12rem);
    }

    80% {
        transform: translateY(9rem);
    }

    95% {
        transform: translateY(10.5rem);
    }

    99% {
        transform: translateY(11.33rem);
    }
}

@keyframes drop4 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(17.5rem);
    }

    80% {
        transform: translateY(13.5rem);
    }

    95% {
        transform: translateY(15.5rem);
    }

    99% {
        transform: translateY(16.5rem);
    }
}

@keyframes drop5 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(23rem);
    }

    80% {
        transform: translateY(19rem);
    }

    95% {
        transform: translateY(21rem);
    }

    99% {
        transform: translateY(22rem);
    }
}

@keyframes drop6 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(28.5rem);
    }

    80% {
        transform: translateY(24.5rem);
    }

    95% {
        transform: translateY(26.5rem);
    }

    99% {
        transform: translateY(27.5rem);
    }
}