@import "_reset.css";

@font-face {
    font-family: 'Space Grotesk';
    src: url('./../assets/fonts/SpaceGrotesk-VariableFont_wght.woff2') format('woff2-variations');
    font-style: normal;
    font-weight: 300 700;
    font-display: optional;
}

@font-face {
    font-family: "Space Grotesk-fallback";
    size-adjust: 136.69%;
    ascent-override: 84%;
    src: local("Arial");
}

html {
    font-size: 16px;
    font-family: "Space Grotesk", "Space Grotesk-fallback", sans-serif;
    background-color: #7945FF;
}

.app {
    width: 100%;
}

.board-container {
    width: 632px;
    height: 584px;
    /* background: red; */
}