
header {
    width: 632px;
    margin-inline: auto;
    padding-block: 53px 17px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 632px;
}

.logo {
    margin-inline: 201px 179px;
}

button {
    padding: 9px 20px 10px 21px;
    background: #5C2DD5;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 1rem;
    line-height: calc(20.42 / 16);
    cursor: pointer;
}

button:hover {
    background-color: #FD6687;
}

.play-menu {
    width: 632px;
    height: 36px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    padding-inline: 20px;
    gap: 24px;
    position: relative;
    cursor: pointer;
}

.marker1,
.marker2 {
    display: block;
    height: 570px;
    width: 68px;
    opacity: 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 38px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0 5px 0 black);
    transform: translateY(-6px);
    z-index: 5;
}

.marker1:hover,
.marker2:hover {
    opacity: 1;
    cursor: pointer;
}

.marker1 {
    background-image: url("./assets/images/marker-red.svg");
}

.marker2 {
    background-image: url("./assets/images/marker-yellow.svg");
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 203px;
    position: relative;
    z-index: 1;
}

.board-container {
    position: relative;
    width: 632px;
    height: 584px;
    margin-inline: auto;
}

.board-layer_black,
.board-layer_white {
    position: absolute;
    top: 0;
    left: 0;
}

.board {
    width: 632px;
    height: 584px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding: 20px;
}

.board-cell {
    width: 67px;
    height: 67px;
    overflow: hidden;
    background-color: transparent;
    position: relative;
}

.board-cell span {
    width: 67px;
    height: 67px;
    position: absolute;
    display: block;
    left: 0;
}

.player1,
.player2 {
    width: 70px;
    height: 75px;
    left: 0px;
    top: 0px;
    position: absolute;
    display: block;
    background-size: cover;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.player2 {
    background-image: url('./assets/images/counter-red-large.svg');
}

.player1 {
    background-image: url('./assets/images/counter-yellow-large.svg');
}

.column0,
.a {
    left: calc(0rem + 17px);
}

.column1,
.b {
    left: calc(4rem + 41px);
}

.column2,
.c {
    left: calc(8rem + 65px);
}

.column3,
.d {
    left: calc(12rem + 89px);
}

.column4,
.e {
    left: calc(16rem + 113px);
}

.column5,
.f {
    left: calc(20rem + 137px);
}

.column6,
.g {
    left: calc(24rem + 161px);
}

.drop1 {
    animation-duration: .5s;
    animation-name: drop1;
}

.drop2 {
    animation-duration: 1.25s;
    animation-name: drop2;
}

.drop3 {
    animation-duration: 1.6s;
    animation-name: drop3;
}

.drop4 {
    animation-duration: 1.7s;
    animation-name: drop4;
}

.drop5 {
    animation-duration: 1.8s;
    animation-name: drop5;
}

.drop6 {
    animation-duration: 1.9s;
    animation-name: drop6;
}

@keyframes drop1 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(1.1rem);
    }

    80% {
        transform: translateY(0);
    }

    95% {
        transform: translateY(.5rem);
    }

    99% {
        transform: translateY(.75rem);
    }
}

@keyframes drop2 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(6.6rem);
    }

    80% {
        transform: translateY(4.5rem);
    }

    95% {
        transform: translateY(5.5rem);
    }

    99% {
        transform: translateY(6rem);
    }
}

@keyframes drop3 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(12.1rem);
    }

    80% {
        transform: translateY(9rem);
    }

    95% {
        transform: translateY(10.5rem);
    }

    99% {
        transform: translateY(11.33rem);
    }
}

@keyframes drop4 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(17.6rem);
    }

    80% {
        transform: translateY(13.5rem);
    }

    95% {
        transform: translateY(15.5rem);
    }

    99% {
        transform: translateY(16.5rem);
    }
}

@keyframes drop5 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(23.1rem);
    }

    80% {
        transform: translateY(19rem);
    }

    95% {
        transform: translateY(21rem);
    }

    99% {
        transform: translateY(22rem);
    }
}

@keyframes drop6 {

    75%,
    90%,
    97%,
    100% {
        transform: translateY(28.6rem);
    }

    80% {
        transform: translateY(24.5rem);
    }

    95% {
        transform: translateY(26.5rem);
    }

    99% {
        transform: translateY(27.5rem);
    }
}


.winning-message {
    position: absolute;
    right: 0;
    left: 0;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    box-shadow: 0px 10px 0px #000000;
    border-radius: 20px;
    width: 285px;
    height: 166px;
    margin-inline: auto;
    margin-top: -43px;
    padding: 17px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 3;
}

.winner {
    font-size: 1rem;
    font-weight: 700;
    line-height: calc(20.42 / 16);
    margin-bottom: -4px;
}

.winning-message span:last-of-type {
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: calc(71.46 / 56);
    padding: 0;
    margin: 0;
}

.reset-button {
    width: 130px;
    margin-inline: auto;
}