header {
    width: 632px;
    margin-inline: auto;
    padding-block: 53px 17px;
}

.logo {
    margin-inline: 201px 179px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 632px;
}

.board {
    width: 632px;
    height: 584px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
}

.board-layer, .board, .board-container {
    position: absolute;
    top: 0;
    left: 0;
}

button:hover {
    background-color: hsl(346, 96%, 69%);
}
.board-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 632px;
}

.column, .column-overlay {
    height: 584px;
}

.gamepiece, .gamepiece-overlay {
    margin-bottom: 18px;
}

.none {
    width: 70px;
    height: 70px;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.gamepiece, .gamepiece-overlay {
    width: 70px;
    height: 70px;
    transform: translateY(18px);
}

.player1, .player2 {
    width: 70px;
    height: 75px;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    background-size: cover;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.player1 {
    background-image: url('./assets/images/counter-red-large.svg');
}

.player2 {
    background-image: url('./assets/images/counter-yellow-large.svg');
}

.play-menu {
    width: 632px;
    height: 36px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    padding-inline: 20px;
    gap: 24px;
    position: relative;
    cursor: pointer;
}

.markerPlayer1, .markerPlayer2 {
    display: block;
    width: 70px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 38px;
    filter: drop-shadow(0 5px 0 hsl(0, 0%, 0%));
    transform: translateY(-6px);
}

.markerPlayer1 {
    background-image: url("./assets/images/marker-red.svg");
}

.markerPlayer2 {
    background-image: url("./assets/images/marker-yellow.svg");
}

.marker_0, .marker_1, .marker_2, .marker_3, .marker_4, .marker_5, .marker_6 {
    opacity: 1;
}

.no-marker_0, .no-marker_1, .no-marker_2, .no-marker_3, .no-marker_4, .no-marker_5, .no-marker_6 {
    opacity: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 203px;
    position: relative;
    z-index: 1;
}

.none-col0, .player1-col0, .player2-col0 {
    left: 17px;
}

.none-col1, .player1-col1, .player2-col1 {
    left: calc(4rem + 41px);
}

.none-col2, .player1-col2, .player2-col2 {
    left: calc(8rem + 65px);
}

.none-col3, .player1-col3, .player2-col3 {
    left: calc(12rem + 89px);
}

.none-col4, .player1-col4, .player2-col4 {
    left: calc(16rem + 113px);
}

.none-col5, .player1-col5, .player2-col5 {
    left: calc(20rem + 137px);
}

.none-col6, .player1-col6, .player2-col6 {
    left: calc(24rem + 161px);
}

.player1-drop0, .player2-drop0 {
    animation-duration: .5s;
    animation-name: drop0;
}

.player1-drop1, .player2-drop1 {
    animation-duration: 1.25s;
    animation-name: drop1;
}

.player1-drop2, .player2-drop2 {
    animation-duration: 1.6s;
    animation-name: drop2;
}

.player1-drop3, .player2-drop3 {
    animation-duration: 1.7s;
    animation-name: drop3;
}

.player1-drop4, .player2-drop4 {
    animation-duration: 1.8s;
    animation-name: drop4;
}

.player1-drop5, .player2-drop5 {
    animation-duration: 1.9s;
    animation-name: drop5;
}

@keyframes drop0 {
    75%, 90%, 97%, 100% {
        transform: translateY(1.1rem);
    }

    80% {
        transform: translateY(0);
    }

    95% {
        transform: translateY(.5rem);
    }

    99% {
        transform: translateY(.75rem);
    }
}

@keyframes drop1 {
    75%, 90%, 97%, 100% {
        transform: translateY(6.6rem);
    }

    80% {
        transform: translateY(4.5rem);
    }

    95% {
        transform: translateY(5.5rem);
    }

    99% {
        transform: translateY(6rem);
    }
}

@keyframes drop2 {
    75%, 90%, 97%, 100% {
        transform: translateY(12.1rem);
    }

    80% {
        transform: translateY(9rem);
    }

    95% {
        transform: translateY(10.5rem);
    }

    99% {
        transform: translateY(11.33rem);
    }
}

@keyframes drop3 {
    75%, 90%, 97%, 100% {
        transform: translateY(17.6rem);
    }

    80% {
        transform: translateY(13.5rem);
    }

    95% {
        transform: translateY(15.5rem);
    }

    99% {
        transform: translateY(16.5rem);
    }
}

@keyframes drop4 {
    75%, 90%, 97%, 100% {
        transform: translateY(23.1rem);
    }

    80% {
        transform: translateY(19rem);
    }

    95% {
        transform: translateY(21rem);
    }

    99% {
        transform: translateY(22rem);
    }
}

@keyframes drop5 {
    75%, 90%, 97%, 100% {
        transform: translateY(28.6rem);
    }

    80% {
        transform: translateY(24.5rem);
    }

    95% {
        transform: translateY(26.5rem);
    }

    99% {
        transform: translateY(27.5rem);
    }
}
