<div class="main-menu">
        <img src="./assets/images/logo.svg" alt="logo" class="main-menu-logo" />
        <a class="players" href="ConnectFourApp/game">
                <span>play vs player</span>
                <img src="./assets/images/player-vs-player.svg" alt="" />
        </a>
        <a class="rules" href="ConnectFourApp/rules"><span>game rules</span></a>
</div>

@code {

}