<div class="ingame-menu-container">
    <div class="ingame-menu">
        <h1>pause</h1>
        <div class="buttons">
            <button><span>continue game</span></button>
            <button><span>restart game</span></button>
            <a><span>quit game</span></a>
        </div>
    </div>
</div>

@code {
   
}