<div class="player-board">
    <img src="@ImgSrc" alt="" class="player-board-img"/>
    <p>player @(PlayerNum)</p>
    <p>0</p>
</div>

@code {

    [Parameter]
    public string PlayerNum { get; set; }

    [Parameter]
    public string ImgSrc { get; set; }

}