.player-board {
    position: relative;
    height: 160px;
    width: 141px;
    background-color: hsl(0, 0%, 100%);
    border: 3px solid hsl(0, 0%, 0%);
    box-shadow: 0 10px 0 hsl(0, 0%, 0%);
    border-radius: 20px;
    transform: translateY(-18px);
}

.player-board-img {
    position: absolute;
    width: 54px;
    margin-inline: 42px;
    transform: translateY(-27px);
}

.player-board p:first-of-type {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: calc(25.52 / 20);
    text-align: center;
    margin-block: 46px 0;
}

.player-board p:last-of-type {
    font-size: 56px;
    line-height: calc(71.46 / 56);
    font-weight: 700;
    text-align: center;
}