@using System.Timers;
@implements IDisposable;

<div class="your-turn">

    <svg width="197" height="165" viewBox="0 0 197 165" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_5_5704)">
            <path class="your-turn_fill@(PlayerFill)" fill-rule="evenodd" clip-rule="evenodd" d="M3 55.2795C3 47.2326 7.82258 39.9694 15.2389 36.8468L90.2793 5.25082C95.2186 3.17114 100.786 3.16075 105.733 5.22198L181.692 36.8718C189.145 39.9772 194 47.2593 194 55.3333V132C194 143.046 185.046 152 174 152H23C11.9543 152 3 143.046 3 132V55.2795Z"/>
            <path d="M14.6568 35.4643C6.68427 38.8212 1.5 46.6291 1.5 55.2795V132C1.5 143.874 11.1259 153.5 23 153.5H174C185.874 153.5 195.5 143.874 195.5 132V55.3333C195.5 46.6538 190.281 38.8255 182.269 35.4872L106.31 3.83737C100.992 1.62154 95.0069 1.63271 89.6972 3.86836L14.6568 35.4643Z" stroke="black" stroke-width="3"/>
        </g>
        <defs>
            <filter id="filter0_d_5_5704" x="0" y="0.683517" width="197" height="164.316" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="10"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_5_5704"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_5_5704" result="shape"/>
            </filter>
        </defs>
        <g class="your-turn_gfill@(PlayerFill)" font-family="Space Grotesk, Space Grotesk-fallback, sans-serif" font-weight="700">
            <text font-size="16" transform="translate(31 41)">
                <tspan x="1.64" y="16">PLAYER @(PlayerFill)'S TURN</tspan>
            </text>
            <text font-size="56" transform="translate(51 41)">
                <tspan x=".872" y="77">@($"{Time}s")</tspan>
            </text>
        </g>
    </svg>

</div>

<svg class="winners-bar" width="1440" height="200" viewBox="0 0 1440 200" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="player@(Winner)-fill" d="M0 60C0 26.8629 26.8629 0 60 0H1380C1413.14 0 1440 26.8629 1440 60V200H0V60Z" fill="#5C2DD5"/>
</svg>


@code {

    [Parameter]
    public object PlayerFill { get; set; }

    [Parameter]
    public string Winner { get; set; }

    [Parameter]
    public EventCallback TimerOut { get; set; }

    private Timer _timer = null!;
    private int _counter = 0;

    protected string Time { get; set; } = "00";

    public void Start(int counter)
    {
        _counter = counter;

        if (_counter <= 0) return;

        Time = TimeSpan.FromSeconds(_counter).ToString(@"ss");
        StateHasChanged();
        _timer.Start();
    }

    public void Stop()
    {
        _timer.Stop();
    }

    protected override void OnInitialized()
    {
        _timer = new Timer(1000);
        _timer.Elapsed += OnTimedEvent;
        _timer.AutoReset = true;
    }

    private async void OnTimedEvent(object sender, ElapsedEventArgs e)
    {
        _counter--;

        await InvokeAsync(() =>
        {
            Time = TimeSpan.FromSeconds(_counter).ToString(@"ss");
            StateHasChanged();
        });

        if (_counter > 0) return;

        _timer.Stop();
        await TimerOut.InvokeAsync();
    }

    public void Dispose()
    {
        _timer.Dispose();
    }

}